.form{
    
  background-color: blueviolet;
  height: 500px;
  width: 800px;
  
}
.boll2{
    margin-left: 400px;
    line-height: 30px;
}
.ball4{
    margin-left: 5px;
}
.ball6{
    margin-left: 7px;
}
.intel2{
    margin-left: 46px;
}
.intel4{
    margin-left: 30px;
}
.intel6{
    margin-left: 11px;
}
.core0{
     margin-left: 450px;
     margin-top: 20px;
     margin-bottom: 20px;
}
.ml2{
    margin-left: 350px;
     margin-top: 20px;
     margin-bottom: 20px;
}
.moder{
    margin-left: 500px;
}
.karlo{
    margin-left: 350px;
    margin-bottom: 20px;
}
.eng{
    margin-left: 450px;
    margin-bottom: 20px;
}
.btn{
    margin-left: 450px;
}
.ultra{
    margin-left: 13px;
}